{% extends "booking/menu_auth.html" %}
{% block en_tete%} {% endblock %}
{% load bootstrap5%}

{% block title %} Supprimer une réservation {% endblock %}

{% block content %}

   
    <h1 class="alert alert-warning" role="alert" >Vous allez supprimer votre réservation</h1>

    {% if reservation %}
        <form action="{% url 'supprimer_reservation' reservation.numero_reservation %}" method="post">
            {% csrf_token %}
            <p> Etes-vous sûr de vouloir supprimer la réservation {{ reservation }} ? , cette action est irreversible</p>
            <p> Vous ne serez pas remboursé </p>
            <button type="submit" class="btn btn-danger btn-lg btn-block">Supprimer</button>
            <a href="{% url 'reservations' %}" class="btn btn-secondary btn-lg btn-block">Annuler</a>
        </form>
    {% else %}
        <div class="alert alert-info" role="alert">
            Cette réservation n'existe pas.
        </div>
    {% endif %}
    
{% endblock %}