{% extends "booking/menu_auth.html" %}
{% block en_tete%} {% endblock %}

{% block title %} {% if reservation_id %}Modifier{% else %}Créer{% endif %} une réservation {% endblock %}


{% block content %}

    <h1>{% if reservation_id %}Modifier{% else %}Créer{% endif %} une réservation</h1>

    {% if reservation_id %}
        <form action="{% url 'modifier_reservation' reservation_id%}" method="post">
    {% else %}
        <form action="{% url 'nouvelle_reservation' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <p> trajet {{ form.trajet}}</p>
        <p> numero de voiture {{ form.numero_voiture}}</p>
        <p> numero de place {{ form.numero_place}}</p>
        <p> passager {{ form.passager}}</p>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

{% endblock %}