{% extends "booking/menu_auth.html" %}
{% block en_tete%} {% endblock %}

{% block title %} Reservation {% endblock %}


{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<a href="{% url 'reservations' %}" class="btn btn-secondary">Retour à mes reservations</a>
<a href="{% url 'itineraire' %}" class="btn btn-secondary">Retour aux réservations d'itinéraire</a>
    {% if reservation %}
        <br> </br>
        <h2>{{reservation}}</h2>

        <table class = "table">
            <tr>
                <th>Reservation n° </th>
                <th>Date de reservation</th>
                <th>passager</th>
                <th>voiture</th>
                <th>place</th>
            </tr>
            <tr>
                <td>{{ reservation.numero_reservation }}</td>
                <td>{{ reservation.date_reservation }}</td>
                <td>{{ reservation.passager }}</td>
                <td>{{ reservation.numero_voiture }}</td>
                <td>{{ reservation.numero_place}}</td>
            </tr>
            <tr>
                <td> <a href="{% url 'modifier_reservation' reservation.numero_reservation %}" class="btn btn-primary btn-lg btn-block">Modifier</a></td>
                <td> <a href="{% url 'supprimer_reservation' reservation.numero_reservation %}" class="btn btn-danger btn-lg btn-block">Supprimer</a></td>
            </tr>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Cette reservation n'existe pas.
        </div>
    {% endif %}
{% endblock %}