{% extends "booking/menu_auth.html" %}
{% block en_tete%} {% endblock %}
{% block title %} Reservations {% endblock %}

{% block content %}
    <h1>Mes Reservations</h1>
    {% if reservations %}
        <table class="table">
            <thead>
                <tr>
                    <th> numéro reservation </th>
                    <th>Voyage</th>
                    <th>Date de départ</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.numero_reservation }}</td>
                        <td><a href="{%url 'reservation' reservation.numero_reservation%}">{{ reservation }}</a></td>
                        <td>{{ reservation.trajet.date_depart }}</td>
                        <td> <a href="{% url 'modifier_reservation' reservation.numero_reservation %}" class="btn btn-primary btn-sm">Modifier</a></td>
                        <td> <a href="{% url 'supprimer_reservation' reservation.numero_reservation %}" class="btn btn-danger btn-sm">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Vous n'avez pas de réservation à votre nom.
        </div>
    {% endif %}
{% endblock %}

