{% extends "booking/menu_auth.html" %}
{% block en_tete%} {% endblock %}

{% load bootstrap5%}

{# Load the tag library #}
{% load bootstrap5%}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %} Créer la réservation {% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-left">
        <div class="col-md-6">
            <h1>Créer la réservation</h1>
                <form action="{% url 'itineraire' %}" method="post">
                {% bootstrap_form form %}
                {% csrf_token %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}