
{% extends user.is_authenticated|yesno:"booking/menu_auth.html,booking/menu_pas_auth.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{%block title %} Trajets {%endblock%}

{%block en_tete%} {%endblock%}
{% block content %}
    <h1>Trajets disponible</h1>
    {% if trajets %}
        
        <form action="{% url 'trajets' %}" method="post" class="dropdown">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {% endbuttons %}
        </form>
        <table class = "table">
            <thead>
                <tr>
                    <th> gare de depart </th>
                    <th> gare d'arrivée </th>
                    <th> Date départ </th>

                </tr>
            </thead>
            <tbody>
                {% for trajet in trajets %}
                    <tr>
                        <td> {{ trajet.gare_depart }} </td>
                        <td> {{ trajet.gare_arrivee }} </td>
                        <td> {{ trajet.date_depart }} </td>
                        <td> <a href="{% url 'nouvelle_reservation_trajet' trajet.id %}" class="btn btn-primary">Réserver</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% bootstrap_alert "Pas de trajets disponible" alert_type='warning' %}
    {% endif %}
{% endblock %}

