{% extends 'booking/base.html' %}
{%block title %} Trajets {%endblock%}

{% block content %}
    <h1>Trajets disponible</h1>
    {% if trajets %}
        <form action="{% url 'trajets' %}" method="post" class="dropdown">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search" class="btn btn-primary">
        </form>
        <table class = "table">
            <thead>
                <tr>
                    <th> Trajet </th>
                    <th> Date départ </th>
                </tr>
            </thead>
            <tbody>
                {% for trajet in trajets %}
                    <tr>
                        <td> {{ trajet }} </td>
                        <td> {{ trajet.date_depart }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Pas de trajet disponible.
        </div>
    {% endif %}
{% endblock %}

